<%= link_to "Back To Previous", event_register_path(params[:event_id]) %>
<h1>Payment</h1>
<h1>金流系統安插在這邊</h1>

asfasfasfasfs
<%= link_to 'Confirm', event_confirm_path(params[:event_id]), method: 'post' %>