<%= link_to "Back To Homepage", events_path %>
<h1><%= @event.name %></h1>
<p class="eventdescrip"><%= @event.description %></p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto dolorem placeat autem cumque laboriosam veritatis odit expedita quibusdam, optio similique? Reiciendis, officia. Mollitia consectetur, veritatis atque quo, deleniti doloremque at quam inventore aliquid laudantium quisquam laboriosam! Voluptatem, ratione maiores illo inventore quidem id aspernatur magni velit tempore obcaecati quae, distinctio veritatis labore voluptatibus enim? Nobis suscipit magni soluta vel explicabo corporis tempora vitae voluptatum reiciendis consequuntur. Quos molestiae iste, reiciendis ducimus in vitae aspernatur pariatur ex quae, officia officiis.</p>
<img src="https://picsum.photos/800/100" alt="">
